// ==============================
// Override Variables
// 覆盖变量
// ==============================
:root{
// vitrubio-color-01
  --vtrb-color-01: #4a5d6e;
// rgb(74,94,109)
// cmyk(33,15,0,57)
// 
// vitrubio-color-02
  --vtrb-color-02: #73808c;
// rgb(115,128,140)
// cmyk(18,9,0,45)
// 
// vitrubio-color-03
   --vtrb-color-03: #a0aab4;
// rgb(160,170,180)
// cmyk(11,6,0,29)
}
header {
 background-color:var(--vtrb-color-01);
}
.single .post-meta a, .single .post-meta a::before, .single .post-meta a::after {
 color: var(--vtrb-color-01);
} 
